<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.mapper.StudentMapper">
    <insert id="insertStudent" parameterType="com.app.model.Student" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO student(name, email) VALUES (#{name}, #{email})
    </insert>
</mapper>